<!--
<app-header></app-header>

<div class="container text-center">

  <div class="card mx-auto" style="width: 18rem;">

    <div class="card-body">

      <h5 class="card-title">{{serie.title}} - {{serie.status}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
      <p class="card-text">{{serie.description}}</p>

      <a routerLink="/series" class="card-link">Retour vers les séries</a>

    </div>

  </div>

</div>-->
